/bin
.project
.classpath
/.settings
/.google_apis
/javadoc
/alarms
/lib
/libSrc
/otherFiles
*.key
email.txt
tts*
*.jar
*.class
*.gdl
*.dic
*.lm
*.gram
f.*
sentences.txt
output.json
networks.txt
PythonCode.txt
wolfram.xml
CiscoTranslate.java
/Cisco
